<!DOCTYPE html>
<html>
    <head>
        <title>Gpio Control</title>
        <link rel="stylesheet" type="text/css" href="../assets/styles.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <script src="../controllers/index.js"></script>
    </head>
    <body>
        <header>
            <h1>Gpio Control</h1>
        </header>
        <main>
            <div id="wrapper">
                <h2>Click the buttons to turn the GPIO pin on or off.</h2>
                <div id="btn_container">
                    <button class="btn" id="btn_on"><a href="/on">ON</a></button>
                    <button class="btn" id="btn_off"><a href="/off">OFF</a></button>
                </div>
            </div>
        </main>
    </body>
</html>